  body {
        
        font-family: sans-serif;
        width:100%;
        height: 100vh;
        min-width: 100%;
        background-image: linear-gradient(rgb(0,0,0,0.7),rgba(0,0,0,0.7)),url(background-img.jfif);
        background-size: cover;
        position: absolute;
      }
    

.signup{
    width:400px;
    height: 470px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: white;
    margin:8% auto 0;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
}
.signin{
    width:380px;
    height: 450px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: whitesmoke;
    margin:8% auto 0;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
}
h2{
 color: rgb(255, 0, 64);
 margin-bottom: 15px;
}
.input-box{
    border-radius:10px;
    width: 350px;
    padding: 10px;
    margin: 2px;
    border: 1px solid red;
    height: 20px;
    background: lightpink;
}
.signup-btn{
    background: rgb(255, 0, 64);
    color: white;
    border-radius: 5px;
    width:100px;
    height: 25px;
    border: 1px solid red;
    cursor: pointer;
}
.signin-btn{
    background: rgb(255, 0, 64);
    color: white;
    border-radius: 5px;
    width:100px;
    height: 25px;
    border: 1px solid red;
    cursor: pointer;
}
.fa:hover {
    opacity: 0.9;
}
.fa {
    margin: 30px;
    padding: 30px;
    font-size: 30px;
    width: 400px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
.fa-facebook-f {
    background: #3B5998;
    color: white;
    border-radius: 50%;
  }
  
  .fa-linkedin-in{
    background: #3B5998;
    color: white;
    border-radius: 50%;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50%;
  }
  .fa-instagram {
    background: rgba(255, 0, 0, 0.632);
    color: white;
    border-radius: 50%;
  }
  i{
    margin: 5px;
    padding: 10px;
  }
  img{
    width:55px;
  }
  .policy{
    font-size: 13px;
  }
  .forgetpass{
    display: flex;
    align-content:flex-end;
    justify-content: end;
    font-size: 13px;
    color: red;
  }